*.pyc
__pycache__
*.ipynb_checkpoints
.DS_Store
.vscode/
.gemini/
work_dir/
run_frankpepstein/
*.pdb
utilities/*.tar.gz
!utilities/Click.tar.gz
DB/*.tar.gz
DB/reduce_wwPDB_het_dict.txt.tar.gz
DB/reduce_wwPDB_het_dict.txt